div.spread4evenly > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 25%;
    float: left;
    margin: 0;
}

div.spread4evenly {
  width: 100%;  
}

.img-circle {
  border-radius: 0 !important;
}


/* margins for top row */
.top-row {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* dropdowns */
.var-dropdown {
  margin-right: 15px;
}


/* Map Rules */
.leaflet-container {background: #fff; height: 100%}

/* workaround for the NA in leaflet legend see https://github.com/rstudio/leaflet/issues/615 */
.leaflet-control div:last-child {clear: both;}
 
/* increase z-index for dropdowns to make sure they are above the map controls (see #7) */  
.dropdown-menu.show {z-index: 1001;}     

/* make sure all cards take as much space as they can, so they all line up at the bottom */
.card {height: 100%}

/* remove headers from all cards */
.card-header {
  height: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
} 

/* syles for the user card on the top left */
.card-hexagon {
  height: 100px;
  position: relative;
}

.card-hexagon-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
  font-size: 25px;
  font-weight: 300;
  color: white;
}

.card-hexagon img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    float: left;
    padding: 5px;
}

.card-hexagon i {
  font-size: 15px;
  font-weight: 510;
}

.top-row > .col-sm-2:first-child > .card{
  background-color: #08306B;
}

.top-row > .col-sm-2:last-child > .card{
  background-color: #6dcc5a;
}

.top-row label {
  letter-spacing: .08em;
  font-weight: 500 !important;
}


.learn-more {
    width: 60%;
    border: 2px solid #152190;
    padding: 10px 10px;
    color: #000;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .08em;
    background: white;
}

.learn-more:hover {
  background-color: #152190;
  color: #fff;
}

.shiny-output-error {
  margin-top: 20%;
  letter-spacing: .08em;
  text-align: center;
  width: 100%;
}